<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <contextName>rtmp-service-mate-ext</contextName>
    <jmxConfigurator contextName="rtmp-service-mate-ext" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <File>log/rtmp-service-mate-ext.log</File>
        <Append>false</Append>
        <BufferedIO>false</BufferedIO>
        <ImmediateFlush>true</ImmediateFlush>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
        </layout>
    </appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%-4relative %-5level %logger{35} - %msg%n</Pattern>
		</layout>
	</appender>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

	<logger name="example.ExampleApp">
        <level value="DEBUG" />
    </logger>
	
</configuration>
